/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
coverage
.DS_Store
/.idea
/.php_cs.cache
infection.json
infection.log
infection-summary.log
pact_log
.php_cs.dist
/pacts/
/.deptrac.cache
/log/pact.log
/storage/event_store.log
/storage/event_store.csv
